<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Espresso recipe</title>
    <link href="../static/styles.css" rel="stylesheet" />
</head>

<body>

    <h1><span class="Label">Espresso coffee</span></h1>

    <hr>
    
    <div class="wrapper">
    <div class="ContentLineDiv">
        <div class="BlankBlockDiv">
            <div class="IndexButtonDiv">
                <form action="index.html">
                    <button type="submit">
                        Назад
                    </button>
                </form>
            </div>
        </div>
        <div class="RecipeImage">
            <img src="../static/images/recipe_page_preview/espresso.png">
        </div>

        <div class="BlankBlockDiv">
        </div>
    </div>
    <div class="ContentLineDiv">
        <div class="BlankBlockDiv">
        </div>

        <div class="ContentLineDiv">
            <div class="ContentsCellDiv">
                <p class="GenericTextStyle">
                    Существует множество различных способок приготовления кофе. 
                </p>
                <hr>
                <table class="Center">
                    <thead>
                        <tr>
                            <th style="text-align: center;">
                                Способ приготовления:
                            </th>
                        </tr>
                    </thead>
                    </caption>
                    <tr>
                        <th>
                            Эспрессо-машина
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Френч-пресс
                        </th>
                    </tr>
                    <tr>
                        <th>
                            В турке
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Колд-брю
                        </th>
                    </tr>
                </table>
                <hr>
                <p class="GenericTextStyle">
                    Далее речь пойдет о приготовлении классического
                    <a href="https://ru.wikipedia.org/wiki/%D0%AD%D1%81%D0%BF%D1%80%D0%B5%D1%81%D1%81%D0%BE">эспрессо</a>
                </p>
            </div>
        </div>

        <div class="BlankBlockDiv">
        </div>
    </div>


    <div class="ContentLineDiv" style="margin-top: 15px;">
        <div class="BlankBlockDiv">
        </div>

        <div class="ContentLineDiv">
            <div class="RecipeContentCellDiv">
                <p>
                    <b>Для приготовления понадобится:</b>
                    <br>
                    - 7,5-8г свежемолотого кофе тонкого помола
                </p>
            </div>

            <div class="RecipeDescriptionCellDiv">
                <p>
                    <b>Приготовление</b>
                    <br>
                    1. Свежеиолотый кофе засыпается в холдер кофеварки, после чего равномерно разравнивается по всей поверхности.
                    <br>
                    2. С помощью темпера кофе прессуетсяю
                    <br>
                    3. Через получившуюся таблетку под давлением пропускается горячая вода.
                    <br>
                    4. Экстракция эспрессо объемом 30мл занимает около 25 секунд.
                </p>
            </div>
        </div>

        <div class="BlankBlockDiv">
        </div>
    </div>
    </div>
    


    <div class="ContentLineDiv">
        <div class="FooterStyle">
            Tele
        </div>
    </div>
    
</body>

</html>