<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Coffee recipe book</title>
    <link href="../static/styles.css" rel="stylesheet" />
</head>

<body>

    <h1><span class="Label">Coffee book</span></h1>

    <hr>
    <div class="wrapper">
        <div class="ContentLineDiv">
            <div class="BlankBlockDiv BgImg flyUpAnim">
            </div>

            <div class="ContentsCellDiv flyUpAnim" style="border-radius: 10px;">
                <span class="GenericTextStyle">
                    <b>Классический кофе</b>

                    <form action="espresso.html" method="post">
                        Эспрессо
                        <button type="submit" class="RecipeButton">
                            ☕
                        </button>
                    </form>


                    <form action="cappuccino.html" method="post">
                        Капучино
                        <button type="submit" class="RecipeButton">
                            ☕
                        </button>
                    </form>

                    <form action="latte.html" method="post">
                        Латте
                        <button type="submit" class="RecipeButton">
                            ☕
                        </button>
                    </form>
                </span>
                <br>
                <span class="GenericTextStyle">
                    <b>Кофейные коктейли</b>

                    <form action="bumble_coffee.html" method="post">
                        Бамбл-кофе
                        <button type="submit" class="RecipeButton">
                            ☕
                        </button>
                    </form>

                    <form action="dark_forest_coffee.html" method="post">
                        Черный лесной кофе
                        <button type="submit" class="RecipeButton">
                            ☕
                        </button>
                    </form>
                </span>

                <br>

                <div id="ccalTable" class="GenericTextStyle">
                    <span><b>Калорийность кофейных напитков (на 100г):</b></span>
                </div>
            </div>

            <div class="BlankBlockDiv BgImg flyUpAnim">
            </div>
        </div>

    </div>
    
    <div class="ContentLineDiv flyUpAnim">
        <div class="FooterStyle flyUpAnim">
            Tele
        </div>
    </div>
    <script src="../scripts/table.js"></script>
</body>

</html>