<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Bumble coffee recipe</title>
    <link href="../static/styles.css" rel="stylesheet" />
</head>

<body>

    <h1><span class="Label">Bumble coffee</span></h1>

    <hr>
    
    <div class="RecipeContentLineDiv">
        <div class="BlankBlockDiv">
        </div>
        <div class="RecipeImage">
            <img src="../static/images/recipe_page_preview/bumble_coffee.png">
        </div>

        <div class="BlankBlockDiv">
        </div>
    </div>
    <div class="RecipeContentLineDiv">
        <div class="BlankBlockDiv">
        </div>

        <div class="RecipeContentLineDiv">
            <div class="RecipeContentCellDiv">
                <span class="RecipeTextStyle">
                    <b>Для приготовления понадобится:</b>
                    <br>
                    - 7г свежемолотого кофе тонкого помола
                    <br>
                    - 100мл свежевыжатого апельсинового сока
                    <br>
                    - 40мл карамельного сиропа
                </span>
            </div>

            <div class="RecipeDescriptionCellDiv">
                <span class="GenericTextStyle">
                    <b>Приготовление</b>
                    <br>
                    1. Перелейте в стакан 40мл каремельного сиропа.
                    <br>
                    2. Налейте в стакан апельсиновый сок так, чтобы образовался слой (можно использовать барную ложку).
                    <br>
                    3. Сварите двойной по объему эспрессо.
                    <br>
                    4. Перелейте в стакан эспрессо так, чтобы образовался слой (можно использовать барную ложку).
                    <br>
                    - При желании в напиток также можно добавлять лед.
                </span>
            </div>
        </div>

        <div class="BlankBlockDiv">
        </div>
    </div>



    <!-- <footer class="Footer">
        Televerso
    </footer> -->
    
</body>

</html>