<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Cappuccino recipe</title>
    <link href="../static/styles.css" rel="stylesheet" />
</head>

<body>

    <h1><span class="Label">Cappuccino</span></h1>

    <hr>
    <div class="wrapper">
    <div class="ContentLineDiv">
        <div class="BlankBlockDiv">
        </div>
        <div class="RecipeImage">
            <img src="../static/images/recipe_page_preview/cappuccino.png">
        </div>

        <div class="BlankBlockDiv">
        </div>
    </div>
    <div class="ContentLineDiv">
        <div class="BlankBlockDiv">
        </div>

        <div class="ContentLineDiv">
            <div class="RecipeContentCellDiv">
                <p>
                    <b>Для приготовления понадобится:</b>
                    <br>
                    - 7г свежемолотого кофе тонкого помола
                    <br>
                    - 120-150мл холодного молока
                </p>
            </div>

            <div class="RecipeDescriptionCellDiv">
                <p>
                    <b>Приготовление</b>
                    <br>
                    1. Сначала сварите 30-40мл эспрессо.
                    <br>
                    2. Перелейте молоко в отдельную емкость, и вспеньте его либо капучинатором, либо с использованием
                    кофеного парового крана.
                    <br>
                    3. Вливание молока: Сначала направьте струю молока в центр дна чашки. Затем лекгими движениями
                    сформируйте молоком небольшую окружность. В конце небольшим количеством молоко перечеркните круг по
                    диаметру.
                </p>
            </div>
        </div>

        <div class="BlankBlockDiv">
        </div>
    </div>
</div>
    <div class="ContentLineDiv">
        <div class="FooterStyle">
            Tele
        </div>
    </div>


    
</body>

</html>