<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Cappuccino recipe</title>
    <link href="../static/styles.css" rel="stylesheet" />
</head>

<body>

    <h1><span class="Label">Latte coffee</span></h1>

    <hr>

    <div class="ContentsLineDiv">
        <div class="Blank10BlockDiv">
        </div>
        <div class="RecipeContentLineDiv">
            <div class="RecipeImageCellDiv">
                <div class="RecipeImage">
                    <img src="../static/images/recipe_page_preview/dark_forest_coffee.png">
                </div>
            </div>

            <div class="RecipeContentLineDiv">
                <div class="RecipeContentCellDiv">
                    <span class="RecipeTextStyle">
                        <b>Для приготовления понадобится:</b>
                        <br>
                        - 7г свежемолотого кофе тонкого помола
                        <br>
                        - 20мл шоколадного сиропа
                        <br>
                        - 20мл вишневого сока
                        <br>
                        - Можно добавить взбитые сливки
                    </span>
                </div>

                <div class="RecipeDescriptionCellDiv">
                    <span class="GenericTextStyle">
                        <b>Приготовление</b>
                        <br>
                        1. Налейте в стакан виншевый сок
                        <br>
                        2. Добавьте в стакан шоколадный сироп
                        <br>
                        3. Подогрейте содержимое стакана
                        <br>
                        4. Сварите двойной по объему эспрессо. Перелейте эспрессо в стакан.
                        <br>
                        5. При наличии можно украсить напиток взбитыми сливками.
                        <br>
                    </span>
                </div>
            </div>
        </div>
        <div class="Blank10BlockDiv">
        </div>
    </div>



    <!-- <footer class="Footer">
        Televerso
    </footer> -->

</body>

</html>