<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Espresso recipe</title>
    <link href="../static/styles.css" rel="stylesheet" />
</head>

<body>

    <h1><span class="Label">Espresso coffee</span></h1>

    <hr>
    
    <div class="wrapper">
    <div class="ContentLineDiv">
        <div class="BlankBlockDiv">
        </div>
        <div class="RecipeImage">
            <img src="../static/images/recipe_page_preview/espresso.png">
        </div>

        <div class="BlankBlockDiv">
        </div>
    </div>
    <div class="ContentLineDiv">
        <div class="BlankBlockDiv">
        </div>

        <div class="ContentLineDiv">
            <div class="ContentsCellDiv">
                <p class="GenericTextStyle">
                    Существует множество различных способок приготовления кофе. 
                </p>
                <table>
                    <tr>
                        <th>
                            
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="BlankBlockDiv">
        </div>
    </div>
    </div>


    <div class="ContentLineDiv">
        <div class="FooterStyle">
            Tele
        </div>
    </div>
    
</body>

</html>