<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Coffee recipe book</title>
    <link href="../static/styles.css" rel="stylesheet" />
</head>

<body>

    <h1><span class="Label">Coffee book</span></h1>

    <hr>
    <div class="wrapper">
        <div class="ContentsLineDiv">
            <div class="BlankBlockDiv BgImg">
            </div>

            <div class="ContentsBlockDiv">
                <span class="GenericTextStyle">
                    <b>Классический кофе</b>

                    <form action="espresso.html">
                        Эспрессо
                        <button type="submit" class="RecipeButton">
                            ☕
                        </button>
                    </form>


                    <form action="cappuccino.html">
                        Капучино
                        <button type="submit" class="RecipeButton">
                            ☕
                        </button>
                    </form>

                    <form action="latte.html">
                        Латте
                        <button type="submit" class="RecipeButton">
                            ☕
                        </button>
                    </form>
                </span>
                <br>
                <span class="GenericTextStyle">
                    <b>Кофейные коктейли</b>

                    <form action="bumble_coffee.html">
                        Бамбл-кофе
                        <button type="submit" class="RecipeButton">
                            ☕
                        </button>
                    </form>

                    <form action="dark_forest_coffee.html">
                        Черный лесной кофе
                        <button type="submit" class="RecipeButton">
                            ☕
                        </button>
                    </form>
                </span>
            </div>

            <div class="BlankBlockDiv BgImg">
            </div>
        </div>
    </div>
    <div class="FooterStyle">
        Tele
    </div>

</body>

</html>