<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Cappuccino recipe</title>
    <link href="../static/styles.css" rel="stylesheet" />
</head>

<body>

    <h1><span class="Label">Latte coffee</span></h1>

    <hr>
    
    <div class="wrapper">
    <div class="RecipeContentLineDiv">
        <div class="BlankBlockDiv">
        </div>
        <div class="RecipeImage">
            <img src="../static/images/recipe_page_preview/latte.png">
        </div>

        <div class="BlankBlockDiv">
        </div>
    </div>
    <div class="RecipeContentLineDiv">
        <div class="BlankBlockDiv">
        </div>

        <div class="RecipeContentLineDiv">
            <div class="RecipeContentCellDiv">
                <span class="RecipeTextStyle">
                    <b>Для приготовления понадобится:</b>
                    <br>
                    - 7г свежемолотого кофе тонкого помола
                    <br>
                    - 165-225мл холодного молока
                </span>
            </div>

            <div class="RecipeDescriptionCellDiv">
                <span class="GenericTextStyle">
                    <b>Приготовление</b>
                    <br>
                    1. Сначала сварите 30-40мл эспрессо.
                    <br>
                    2. Перелейте эстрессо в отдельный стакан.
                    <br>
                    3. Перелейте молоко в отдельную емкость, и подогрейте его.
                    <br>
                    4. Вспеньте молоко либо капучинатором, либо с использованием
                    кофеного парового крана.
                    <br>
                    5. Перелейте молоко в стакан с эспрессо, что приведет к его перемешиванию с кофе.
                </span>
            </div>
        </div>

        <div class="BlankBlockDiv">
        </div>
    </div>
    </div>


    <div class="RecipeContentLineDiv">
        <div class="FooterStyle">
            Tele
        </div>
    </div>
    
</body>

</html>