html,
body {
  min-height: 100%;
}
.wrapper {
  min-height: 100%;
}

body {
  background-image: linear-gradient(#FFBB7C, #BC834D);
  margin: 0;
  background-repeat: no-repeat;
  background-color: #BC834D;
  h1 {
    text-align: center;
  }

  hr {
    color: #5E3200;
    text-align: center;
  }
}

.BgImg {
  background-image: url("images/background/coffee-bean-small.png");
  background-repeat: no-repeat space;
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}
.Label {
  color: #5E3200;
  text-align: center;
  border-color: white;
  font-family: cursive;
}

.BlankBlockDiv {
  position: relative;
  display: table-cell;
  width: 25%;
}
.Blank10BlockDiv {
  position: relative;
  display: table-cell;
  width: 10%;
}

.GenericTextStyle {
  color: #5E3200;
  text-align: left;
  font-family: cursive;
  font-size: 120%;
  font-weight: 400;
  margin: 15px;
  box-sizing: border-box;
}
.GenericTextStyle > a {
  color: #be6800;
}

.ContentLineDiv {
  float: left;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.ContentsCellDiv {
  display: table-cell;
  background: white;
  padding: 15px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.FooterStyle{
  width: 100%;
  height: 80px;
  margin-top: 80px;

  position: absolute;
  left:0%;
  bottom: -30vh;

  box-sizing: border-box;

  text-align: right;
  padding: 15px;
  background-color: #5E3200;
  color: #BC834D;
}

.RecipeButton {
  position:absolute;
  right: 0;
  border: solid;
  border-radius: 10px;
  border-color: #BC834D;
  color: #5E3200;
  transition: .1s linear;
  background: transparent;
  margin-right: 15px;
  margin-top: 1%;
}
.RecipeButton:hover {
  border-color: #5E3200;
  box-shadow: 0 0 0 1px #BC834D, 0 0 0 2px #5E3200;
}

.IndexButtonDiv {
  position: absolute;
  left: 5%;
  top: 5%;
}
.ItemButton > form > button {
  font-size: 200%;
  font-family: cursive;
  text-align: center;
  border: solid;
  border-radius: 10px;
  border-color: #BC834D;
  color: #5E3200;
  transition: .1s linear;
  background: white;
  margin-right: 15px;
  margin-top: 1%;
}
.ItemButton > form > button:hover {
  border-color: #5E3200;
  box-shadow: 0 0 0 1px #BC834D, 0 0 0 2px #5E3200;
}

.RecipeImage img{
  display: table-cell;
  object-fit:scale-down;
  
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.RecipeImageCellDiv {
  display: table-cell;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}


.RecipeBlankCellDiv {
  display: table-cell;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.RecipeContentCellDiv {
  display: table-cell;
  background: #5E3200;
  padding: 15px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.RecipeContentCellDiv, .GridItemRecipe, .FlexItemContent > p {
  color: white;
  text-align: left;
  font-family: cursive;
  font-size: 120%;
  font-weight: 500;
  margin: 15px;
  box-sizing: border-box;
}

.RecipeDescriptionCellDiv {
  display: table-cell;
  background: white;
  padding: 15px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.RecipeDescriptionCellDiv, .GridItemDescription, .GridItemContent, .GridItemCalculator, .FlexItemDescription > p {
  color: #5E3200;
  text-align: left;
  font-family: cursive;
  font-size: 120%;
  font-weight: 400;
  margin: 15px;
  box-sizing: border-box;
}


.wiggleAnim {
  animation-name: wiggle;
  animation-delay: 3s;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}
@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  10% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  35% {
    transform: rotateZ(-10deg);
  }
  55% {
    transform: rotateZ(6deg);
  }
  70% {
    transform: rotateZ(-4deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

.flyUpAnim {
  animation-name: fly-up;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
@keyframes fly-up {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}


.GridItemContent > table {
  border: 1px solid #5E3200;
  color: #5E3200;
  font-family: cursive;
}

.GridItemContent > table.Center {
  margin-left: auto;
  margin-right: auto;
}

th, td{
  width:50%;
  border: 1px solid #5E3200;
  padding: 5px;
  text-align: left;
}



.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-right: 5%;
  margin-left: 2%;
}

.FlexItem {
  position: relative;
}

.FlexItemButton {
  align-self: flex-start;
}

.FlexItemContent {
  flex-basis: 15%;
  background: #5E3200;
  padding: 15px;
  flex-grow: 1;
}

.FlexItemDescription {
  flex-basis: 15%;
  background: white;
  padding: 15px;
  flex-grow: 1;
}


.GridContainer {
  display: grid;
  grid-template-rows: repeat(10,1fr);
  grid-template-columns: repeat(8,1fr);
  justify-items: stretch;
  align-items: stretch;
}
.GridItemButton {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.GridItemImage {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 8;
}
.GridItemContent {
  margin: 0;
  margin-bottom: 1%;
  background: white;
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 8;
}
.GridItemRecipe {
  margin: 0;
  padding: 5%;
  background: #5E3200;
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 2;
  grid-column-end: 5;
}
.GridItemDescription {
  padding: 5%;
  margin: 0;
  background: white;
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 5;
  grid-column-end: 8;
}
.GridItemCalculator {
  padding: 5%;
  margin: 2%;
  background: white;
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 4;
  grid-column-end: 6;
}

/* Chrome, Safari, Edge, Opera */
.GridItemCalculator input::-webkit-outer-spin-button,
.GridItemCalculator input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.GridItemCalculator input[type=number] {
  -moz-appearance: textfield;
}
.input {
  width: 50%;
}

.GridItemCalculator .resError{
  color: #EE8888;
  text-align: left;
  font-family: cursive;
  font-size: 80%;
  font-weight: 350;
  margin: 15px;
  box-sizing: border-box;
}
.GridItemCalculator .resDone{
  color: #5E3200;
  text-align: left;
  font-family: cursive;
  font-size: 80%;
  font-weight: 350;
  margin: 15px;
  box-sizing: border-box;
}
.GridItemCalculator .resDefault{
  color: #5E3200;
  text-align: left;
  font-family: cursive;
  font-size: 80%;
  font-weight: 350;
  margin: 15px;
  box-sizing: border-box;
}